<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90947568218-4erjcb22v6k46ru0c18p26brhdjuotph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90947568218-4erjcb22v6k46ru0c18p26brhdjuotph</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>90947568218-pgsr4josutkgot79aqvnsccthn7dvjvh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDL3baN95w9llDG5mhwEkPqwzkBR5FAkoU</string>
	<key>GCM_SENDER_ID</key>
	<string>90947568218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.kma.hatuan314.schedule</string>
	<key>PROJECT_ID</key>
	<string>kitschedule-244ae</string>
	<key>STORAGE_BUCKET</key>
	<string>kitschedule-244ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90947568218:ios:37bb96499737cb2a7f8e63</string>
</dict>
</plist>