<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>schedule.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DAFCFE0FF89C24ACBC2497F27207D4B35D960D1E</string>
				<key>dateExpires</key>
				<string>11/02/2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFCFE0FF89C24ACBC2497F27207D4B35D960D1E</string>
						<key>dateExpires</key>
						<string>11/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43AY2N45RD</string>
						<key>name</key>
						<string>Tuan Hoang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFCFE0FF89C24ACBC2497F27207D4B35D960D1E</string>
						<key>dateExpires</key>
						<string>11/02/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>43AY2N45RD</string>
						<key>name</key>
						<string>Tuan Hoang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>43AY2N45RD.kma.hatuan314.schedule</string>
				<key>com.apple.developer.team-identifier</key>
				<string>43AY2N45RD</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>43AY2N45RD.kma.hatuan314.schedule</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e23b40e2-34ab-4539-b95d-441d8f956944</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>43AY2N45RD</string>
				<key>name</key>
				<string>Tuan Hoang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
